* {
    margin: 0;
}

/* Landing Page */

.container {
    display: grid;
    grid-template-areas:
        "wholepage";
    grid-template-columns: 1fr;
    border: 40px;
    border-color: red;

}

.indexPage {
    grid-area: wholepage;
    margin-right: 100px;
    margin-left: 100px;
}

.page {
    grid-area: wholepage;
    margin-right: 100px;
    margin-left: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

nav a {
    margin: 3% 3% 0% 1%;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.logo {
    height: 90px;
    margin-right: 45%;
    margin-left: 15%;
}

body {
    background-image: url("../Bubble_Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    width: 100%;
}

.mainTextAlign{
    text-align: center;
}

.mainText {
    font-family: sans-serif;
    font-weight: 900;
    line-height: 28mm;
    color: white;
    font-size: 7rem;
    width: 900px;
    margin-top: 6%;
    display: inline-block;
   text-align: left;
    /*Test*/
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .underline{
text-decoration: underline;
text-decoration-color: white;
text-decoration-thickness: 3px;
text-underline-offset: 35px;
  }

.navIcon{
    width: 3%;
    height: auto;
}

.underlineText {
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    display: inline-block;
   text-align: left;
    margin-top: 50px;
    margin-left: -530px;
    font-size: 1.7rem;
}

/* About Page */

.title{
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 35%;
    margin-bottom: 5%;
    margin-top: 5%;
    white-space: nowrap;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "gridone gridtwo";
    /*background-color: brown*/
    gap: 30px;
    margin-left: 15%;
    margin-bottom: 20%;
   

}

.grid1{
    grid-area: gridone;
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
   
    
}

div img{
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;   
}

.grid2{
    grid-area: gridtwo;
    font-family: sans-serif;
    font-weight: 50;
    font-size: 1rem;
    color: white;
    width: 80%;
    line-height: 150%;
    
}

/* Contact Page */

h1{
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
   
   
}

.mainTitle{
   margin-top: 100px;
   
}

.subTitle{
    margin-top: 40px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.2em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
   
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}


input[type=submit] {
    background-color: #4a68ca;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 45%;
  
}


input[type=submit]:hover {
    background-color: #4553a0;
}


.form {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    background-color: #000000;
    padding: 20px;
    margin-top: 10%;
    font-family: sans-serif;
    color: white;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    
}

 /* Portfolio Page */

 .navBox{
    border-radius: 5px;
    /*background-color: #f2af2f2;*/
    padding: 20px;
    padding-top: 30px;
    margin-top: 10%;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 150px;
    position: fixed;
    font-size:10%;
    line-height: 30px;
    text-align: center;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    border-radius: 4px;
    padding: 20px;
    /*border-radius: 25px;*/
    background-image:url(../Navigation_Anchor_Menu.png) ;
    background-size: cover;
   
     
 }


 .navBox a {
    color: rgb(0, 0, 0);
    position: relative;
    top: 40px;
    line-height: 38px;
 }

 
 .wrapper {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e f g"
    ;
    grid-gap: 10px;
    color: #444;
    margin-top: 60px;
  }
  
  .box {
   /*background-color: rgb(201, 201, 201);*/
    color: rgb(71, 71, 71);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height: 100px;
    font-family: sans-serif;
  }
  
  .box.a{
    grid-area: a;
    width: 30em;
    height: 17em;
  }

  video{
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -100;

   
  }

  

  .box.b{
grid-area: b;
background-image: url(../Placeholder.png);
background-size: cover;
background-position: center;
  }

  .box.c{
    grid-area: c;
    background-image: url(../Placeholder.png);
background-size: cover;
background-position: center;
  }
  
.box.d{
    grid-area: d;
    background-image: url(../Placeholder.png);
background-size: cover;
background-position: center;
}

.box.e{
    grid-area: e;
    background-image: url(../Placeholder.png);
background-size: cover;
background-position: center;
}

.box.f{
    grid-area: f;
    background-image: url(../Placeholder.png);
background-size: cover;
background-position: center;
}

.box.g{
    grid-area: g;
    background-image: url(../Placeholder.png);
background-size: cover;
background-position: center;
}






/* Media Query Mobile */

html, body {margin: 0; height: 100%; overflow-x: hidden}

@media (max-width: 600px) {

    .container {
        display: grid;
        grid-template-areas:
            "wholepage";
        grid-template-columns: 1fr;
        border: 40px;
        margin-top: 100px;
        
        
        
    }

    .indexPage {
        grid-area: wholepage;
        margin-right: 0px;
        margin-left: 0px;
        
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav a {
        margin: 3% 3% 0% 1%;
        font-family: sans-serif;
        text-decoration: none;
        color: white;
        display: none;
    }

    .logo {
        height: 120px;
        margin-right: auto;
        margin-left: 100px;
        display: none;
        
        
    }

    body {
        background-image: url("../Bubble_Background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        
    }

    main {
        width: 100%;
    }
    
    .mainTextAlign{
        text-align: center;
    }
    
    .mainText {
        font-family: sans-serif;
        font-weight: 900;
        line-height: 18mm;
        color: white;
        font-size:4.5rem;
        width: 900px;
        margin-top: 6%;
        margin-left: 40px;
        display: inline-block;
       text-align: left;
        /*Test*/
        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        
      }
      
      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }
    
      .underline{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 35px;
    
      }
    
    
    
    .underlineText {
        font-family: sans-serif;
        font-weight: 400;
        color: white;
        display: inline-block;
       text-align: left;
        margin-top: 50px;
        margin-left: -625px;
        font-size: 1.1rem;
        
    }

    /* About Page */

.title{
    font-family: sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 7%;
    white-space: nowrap;
    margin-left: -50px;
    grid-area: gridthree;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
   "gridthree" "gridone" "gridtwo";
    /*background-color: brown*/
    gap: 30px;
    margin-bottom: 20%;
   

}

.grid1{
    grid-area: gridone;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}



.grid2{
    grid-area: gridtwo;
    font-family: sans-serif;
    font-weight: 50;
    font-size: 1rem;
    color: white;
    width: 80%;
    line-height: 150%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

/* Portfolio Page */

.portfolio{
    margin-top: 5%;
    margin-left: -5%;
}

.navBox{
    border-radius: 5px;
    /*background-color: #f2af2f2;*/
    padding: 20px;
    padding-top: 30px;
    margin-top: 10%;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 150px;
    position: fixed;
    font-size:10%;
    line-height: 30px;
    text-align: center;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    border-radius: 4px;
    padding: 20px;
    /*border-radius: 25px;*/
    background-image:url(../Navigation_Anchor_Menu.png) ;
    background-size: cover;
    display: none;
   
     
 }


 .navBox a {
    color: rgb(0, 0, 0);
    position: relative;
    top: 40px;
    line-height: 38px;
    
 }


 .wrapper {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e f g"
    ;
    grid-gap: 10px;
    color: #444;
    margin-top: 60px;
   
    margin-left: -5%;
  }
  
  .mainTitle, .subTitle{
    margin-left: -8%;
  }

  .box {
   /*background-color: rgb(201, 201, 201);*/
    color: rgb(71, 71, 71);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height: 100px;
    font-family: sans-serif;
    
    
    
  }
  
  .box.a{
    grid-area: a;
    width: 13em;
    height: 8em;
    
  }

  video{
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -100;
   
  }

  .box.b{
grid-area: b;
  }

  .box.c{
    grid-area: c;
  }
  
.box.d{
    grid-area: d;
}

.box.e{
    grid-area: e;
}

.box.f{
    grid-area: f;
}

.box.g{
    grid-area: g;
}

/* Contact Page */

h1{
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
   
   
}

.mainTitle{
   margin-top: 50px;
   
}

.subTitle{
    margin-top: 40px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.2em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
   
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: none;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4a68ca;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 30%;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #4553a0;
}

/* Add a background color and some padding around the form */
.form {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    background-color: #000000;
    padding: 20px;
    margin-top: 10%;
    font-family: sans-serif;
    color: white;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    
}

}



/* Media Query Tablet */